<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/internProject/css/internProject_1.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="hero-container">
        <div class="hero-nav">
          <span class="nav-item">instagram</span>
          <span class="nav-item">twitter</span>
          <span class="nav-item">facebook</span>
          <img style=" background-color:white;width:20px; margin-top: 200px; rotate: 270deg;" src="/internProject/images/arrow.png"/>
        </div>
        <div class="hero-image-and-bottom">
          <div class="hero-section">
            <h1 class="logo">AGRESSOV</h1>
            <div class="book-now">
              <span style="display: block">WITH YOU.</span>
              <span style="display: block">ALWAYS</span>
              <button>Book Now</button>
            </div>
          </div>
          <div class="hero-bottom-bar">
            <span> Dreamland, Abc State</span>
            <span> 000-XX8908XX / XXXX 21 9200</span>
            <span> info@mymail.com</span>
          </div>
        </div>
      </div>
    </div>
    <div class="about-container">
      <div class="about-empty-container"></div>
      <div class="about-content-container">
        <div class="about-contents">
          <h3 id="about-heading">
            <span style="font-style: italic">A</span>BOUT US
          </h3>
          <p>
            A Union of Agressov Group & Abbott Hotels. Both have been pioneers
            from almost 3 decades in Real Estate & Hospitality respectively.
            They have left a benchmark in their own fields & now have joined
            hands to
            <span style="display: inline-block; margin-top: 50px">
              make an alliance. United Emperors is a perfect consolidation of
              Real Estate & Hospitality industry.
            </span>
          </p>

          <span
            style="
              display: inline-block;
              margin-top: 20px;
              vertical-align: middle;
            "
            >Learn more
            <span
              style="
                display: inline-block;
                font-size: 24px;
                margin-left: 5px;
                vertical-align: middle;
              "
            >
              &gt;
            </span>
          </span>
          <img id="about-image" src="/internProject/images/about-image.jpg" />
        </div>

        <div class="about-image"></div>
      </div>
    </div>
    <div class="about-container-bottom-bar">
      <div class="item-1" style="display: flex">
        <img src="/internProject/images/emoji.jpg" />
        <div>
          <span style="display: block">1000</span> <span>Room alloted</span>
        </div>
      </div>
      <div class="item-2" style="display: flex">
        <img src="/internProject/images/building.jpg" />
        <div>
          <span style="display: block">1000</span> <span>Room alloted</span>
        </div>
      </div>
      <div class="item-2">
        <span style="display: block">And your happiness.</span>
        <span>Priceless...</span>
      </div>
    </div>
    <div class="project-heading">
      <div></div>
      <div><span>Projects</span></div>
      <div></div>
    </div>
    <div class="carousel-container">
      <button class="carousel-button prev">&lt;</button>
      <button class="carousel-button next">&gt;</button>
      <div class="carousel-track">
        <div class="carousel-slide">
          <img loading="lazy" src="/internProject/images/apart-1.jpg" alt="Image 1" />
        </div>
        <div class="carousel-slide">
          <img src="/internProject/images/apart-2.jpg" alt="Image 2" />
        </div>
        <div class="carousel-slide">
          <img src="/internProject/images/apart-3.jpg" alt="Image 3" />
        </div>
        <div class="carousel-slide">
          <img src="/internProject/images/apart-4.jpg" alt="Image 4" />
        </div>
        <div class="carousel-slide">
          <img src="/internProject/images/apart-5.jpg" alt="Image 5" />
        </div>
        <div class="carousel-slide">
          <img src="/internProject/images/apart-6.jpg" alt="Image 6" />
        </div>
        <div class="carousel-slide">
          <img src="/internProject/images/apart-7.jpg" alt="Image 7" />
        </div>
        <div class="carousel-slide">
          <img src="/internProject/images/apart-8.jpg" alt="Image 8" />
        </div>
      </div>
    </div>
    <div class="project-heading">
      <div></div>
      <div><span>ContactS</span></div>
      <div></div>
    </div>

    <div class="conact-container">
      <div style="display: flex">
        <div
          class="Contact-empty"
          style="border-right: 1px solid var(--gold); width: 10vw; height: 25vw"
        ></div>
        <div class="form-container">
          <form style="display: flex">
            <div style="display: flex; flex-direction: column">
              <input type="text" placeholder="Name" />
              <input type="text" placeholder="Email" />
              <input type="text" placeholder="Telephone" />
            </div>
            <div
              class="Contact-Message"
              style="display: flex; flex-direction: column"
            >
              <input id="message-input" type="text" placeholder="Message" />
              <button>Send</button>
            </div>
          </form>
        </div>
      </div>
      <div class="contact-info-container">
        <div class="Contact-Info">
          <div class="contact-details">
            <span
              ><img src="/internProject/images/call.svg" style="width: 17px; height: 17px" />
              000-XX8908XX / XXXX 21 9200</span
            >
          </div>
          <div class="social-icons">
            <div class="icon-container">
              <img src="/internProject/images/facebook.svg" alt="Facebook" class="icon" />
            </div>
            <div class="icon-container">
              <img src="/internProject/images/twitter.svg" alt="Twitter" class="icon" />
            </div>
            <div class="icon-container">
              <img src="/internProject/images/telegram.svg" alt="Telegram" class="icon" />
            </div>
            <div class="icon-container">
              <img src="/internProject/images/instagram.svg" alt="Instagram" class="icon" />
            </div>
            <div class="icon-container">
              <img src="/internProject/images/email.svg" alt="Email" class="icon" />
            </div>
          </div>
          <div class="address-details">
            <div class="office-address">
                <span> 8th Floor, The Affaires, XYZ Beach Road, Dreamland, Fantasy Land, Unknown - 000-000</span>
            </div>
            <div class="contact-info">
                <span>000-XX8908XX / XXXX 21 9200</span>
            </div>
          </div>
          <div class="address">
            <span
              ><img
                style="width: 17px; height: 17px;"
                src="/internProject/images/location.svg"
                class="icon"
              />
              8th Floor. The Affaires, XYZ Beach road. Dreamland,</span
            >
            <span>Fantasy Land, Unknown - 000-000</span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <footer class="footer">
        <div class="footer-top">
          <h4 class="footer-title">Agressov Group</h4>
          <span class="footer-subtitle">All Rights Reserved 2019</span>
        </div>
        <div class="footer-links">
          <span class="footer-link">SiteMap</span>
          <span class="footer-link">Terms & Conditions</span>
          <span class="footer-link">Privacy Policy</span>
          <span class="footer-link">
            Developed by
            <a
              target="_blank"
              href="https://www.ninadbaruah.me"
              class="footer-developer"
              >Ninad Baruah</a
            >
          </span>
        </div>
      </footer>
    </div>
    <script src="/internProject/js/internProject_1.js"></script>
    <script src="/internProject/js/internProject_1_gsap.js"></script>
  </body>
</html>
